*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.wrapper {
	position: relative;
	.app-body {
		display: flex;
		flex-direction: column;
		width: 800px;
		height: 800px;
		border-radius: 15px;
		box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.6);
		overflow: hidden;
		.image-section {
			position: relative;
			height: 400px;
			background-image: url('../img/default.jpg');
			background-size: cover;
			background-position: center;
			.settings-btn {
				position: absolute;
				top: 20px;
				right: 20px;
				padding: 0.5em 1em;
				font-size: 3.2rem;
				background-color: #fff;
				border: 1px solid black;
				border-radius: 5px;
				transition: background-color 0.3s, color 0.3s;
				cursor: pointer;
				&:hover {
					color: #fdfbfb;
					background-color: #333;
				}
			}
		}
		.time-section {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			height: 400px;
			background-color: #fff;
			z-index: 100;
			h3 {
				font-size: 2.4rem;
				text-align: center;
			}
			.time-boxes {
				display: flex;
				justify-content: space-evenly;
				width: 100%;
				.time-box {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 2em 0;
					width: 18%;
					text-align: center;
					border: 1px solid black;
					border-radius: 8px;
					.number {
						margin-bottom: 0.2em;
						font-weight: bold;
						font-size: 4em;
					}
					.title {
						text-align: center;
					}
				}
			}
		}
	}
	.settings {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 2em 1em;
		width: 400px;
		border: 1px solid black;
		border-radius: 8px;
		opacity: 0;
		transition: opacity 0.3s, transform 0.5s;
		h2 {
			margin-bottom: 1.2em;
			text-transform: uppercase;
			text-align: center;
		}
		label {
			margin-bottom: 0.8em;
		}
		input {
			margin-bottom: 3em;
			padding: 0.5em 1em;
			width: 100%;
		}
		.save {
			padding: 1em 2em;
			cursor: pointer;
		}
	}
	.active {
		transform: translateX(430px);
		opacity: 1;
	}
}
